/dist
node_modules
.DS_Store
.idea
.vscode
.VSCodeCounter
.scannerwork
.eslintcache
.stylelintcache

# yarn
*.lock

*.log

# jest coverage report
/coverage-increment
/coverage-all
/coverage
/mock
unitest-increment.txt

# swag
/generateService

node_modules
.DS_Store
.vscode
.idea/
dist
coverage
coverage-all
coverage-increment
.eslintcache
/dist
.idea
.docz
*.log

/.history
__doc__/.docusaurus
__doc__/build
/__devtool__
.stylelintcache

.nyc_output
