.container {
  display: flex;
  padding-top: 80px;
  justify-content: center;
  font-size: x-large;
}

.icon {
  font-size: 24px;
}

.title {
  font-size: 76px;
  line-height: 1.25;
  font-weight: 900;
  text-align: center;
  margin-bottom: 24px;
}

.subtitle {
  margin-bottom: 40px;
  line-height: 1.5;
  color: rgba(60, 60, 60, 70%);
  transition: color 0.5s;
  font-size: 22px;

  &.isDark {
    color: rgba(235, 235, 235, 60%);
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 56px;
  }
}

.importantCard {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, #42d392, #647eff) border-box;
  border: 2px solid transparent;

  &.isDark {
    background:
      linear-gradient(#141414, #141414) padding-box,
      linear-gradient(45deg, #42d392, #647eff) border-box;
  }
}

.gradient {
  background: linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
