.connector {
  margin-bottom: 10px;
}

.title {
  margin: 0 auto;
  font-weight: 200;
}

.sub-title {
  margin: 0 auto;
  font-weight: 200;
}

.input {
  width: 100%;
}

.flexBox {
  display: flex;
  align-items: center;
}
